# Server Configuration
DB_PORT=3000

# Database Configuration (MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=1995
DB_NAME=glow_db

# JWT Secret
JWT_SECRET=your_jwt_secret_key432
JWT_EXPIRES_IN=7d
